@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

button,input,select,textarea{
    font:inherit;
    padding: 0.25rem 0.35rem;
}

textarea{
    height: 150px;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor:not-allowed;
    color:rgb(31, 31, 31);
}

a{
    text-decoration: none;
}

a{
    color:rgb(231, 231, 231)
}

a:visited{
    color:rgb(226, 226, 226)
}

a:hover{
    color:rgb(134, 206, 255);
    text-decoration:dotted;
}

html{
    background-image: url('/repair.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

body{
    font-family: 'Barlow', sans-serif;
    min-height: 100vh;
    background-color: #00081ee2 ;
    font-size: 1.35rem;
    color: azure;
    line-height: 1.5;
}

h1{
    font-size: 2.5rem;
}

footer{
    border-top: 2px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    gap:1rem;
    align-items: center;
}

header{
    border-bottom: 2px solid;
}

.dash-header_title{
    font-family: 'DM Serif Text', serif;
}

header,footer{
    padding: 1rem;
}

main{
    padding: 1rem;
}

.public-main{
    font-size: 1.5rem;
    line-height: 1.5;
}

.nowrap{
    white-space: nowrap;
}

.px-1{
    padding-inline:1rem;
}

.py-1{
    padding-block: 1rem;
}

section{
    padding:1rem;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
    flex-direction: column;
}

.center{
    place-content: center;
}

.overlay{
    background-color: #00000043;
}

thead,tbody,tr{
    display: contents;
}

.table{
    font-size: 1.2rem;
    display: grid;
    color:black;
}

.table_users{
    grid-template-columns: 1fr 2fr  0.5fr;
}

.table_notes{
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 0.5fr;
}

.table__thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

.table_cell:last-child{
    display:grid;
    place-content: center;
}

.table_th, .table_cell{
    padding:0.5rem;
    text-align: left;
    border:3px ridge #00081ee2;
    background-color: azure;
}

.table_button{
    background-color: transparent;
    border: none;
}

/* Forms */
.form{
    font-size: 1rem;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 4, 20);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.errmsg{
    color:rgb(152, 0, 0);
    padding: 0.25rem 0.5rem;
    margin-block:0.5rem;
    border-radius: 0.25rem;
    background-color:rgb(7, 6, 18);
}

.errmsg span{
    margin-left: 0.25rem;
}

.form_input-imcomplete {
    outline: 1px solid red;
}

.form h2{
    text-align:center;
}

.form .icon-button{
    padding:0.25rem;
    margin-bottom: 0.5rem;
}

form input{
    border-radius: 0.35rem;
}

.form label{
    margin-block-start: 0.75rem;
}

select{
    overflow: auto;
}
option{
    padding:0.25rem;
    scrollbar-gutter: 0;
}

.form_action-buttons{
    margin-top: 1rem;
    display: flex;
}

.form_action-buttons button{
    flex: 1;
}

input[type="checkbox"]{
    height: 1rem;
    width: 1rem;
}

.form_checkbox-container{
    display: flex;
    align-items: center;
    gap: 0.45rem;
}

.form_container{
    min-height: calc(100vh - 10rem);
}